.App {
  text-align: center;
}
.topbar{
  display:flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
}

.links{
  display: flex;
  list-style-type: none;
  padding-right: 2rem;
  
}
.link{
  margin-right: 1rem;
  text-decoration: none;
  
}

.link a{
  text-decoration:none;
  color: aliceblue;
}

.logo{
  padding-left: 4rem;
  color: aliceblue;
}